<%- include('./Partials/header.ejs') %>
<%- include('./Partials/main_nav.ejs') %>
    <!--Main content-->
    <div class="me-page">
        <h1 class="home-title"> <%= title %></h1>
          <p class="me-description"><%= description %></p>
          <img class="me-image" src="./Assets/images/me.jpg" alt="Self picture">
          </div>
<%- include('./Partials/footer.ejs') %>
