<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--contact us -->
    <div class="home-page">
        <h1 class="home-title"> <%= title %></h1>
          <p class="home-description"><%= description %></p>
          <img class="home-image" src="./Assets/images/contactus.jpg" alt="contact us">
          </div>
<%- include('./Partials/footer.ejs') %>
