<%- include('Partials/header') %>
<%- include('Partials/main_nav') %>
<div class="container">
    <h1><%= message || "An error occurred" %></h1>
    <h2><%= error?.status || 500 %></h2>
    <pre><%= error?.stack || "No additional error details available." %></pre>
</div>
<%- include('Partials/footer') %>
