<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Main content-->
    <div class="home-page">
        <h1 class="home-title"> <%= title %></h1>
          <p class="home-description"><%= description %></p>
          <img class="home-image" src="./Assets/images/cookies.jpg" alt="cookies">
          <img class="home-image" src="./Assets/images/vanillacake.jpg" alt="vanillacake">
          <img class="home-image" src="./Assets/images/frenchtoast.jpg" alt="frenchtoast">
          <img class="home-image" src="./Assets/images/eggs.jpg" alt="eggs">
          </div>
<%- include Partials/footer.ejs%>
